body{
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#game-area{
    background: url(imgs/space-blue.png);
    background-size: cover;
    border: 1px solid white;
    border-radius: 4em;
    margin: 1em 0;
    height: 500px;
    width: 600px;
}

.player{
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 200px;
}

.laser{
    position: relative;
    height: 40px;
    width: 30px;
}

footer{
    display: flex;
    align-items: center;
    gap: 5em;
}

footer p,a{
    color: white;
    font-size: 0.7em;
    text-decoration: none;
}